 body{
        overflow-x :hidden;
      }

     
    img {
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: fill;

    }


    #address {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}